body {
  margin: 0;
  width: 31rem;
  display: flex;
  justify-content: center;

}

.tiles-div {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.tiles-div div {
  flex: 1 1 33.333%;
  max-width: 32.333%;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-size: 38px;
  
}
.error-message {
  padding-top:10px;
  padding-left: 15px;
  font-size: large;
  color: red;
  text-align: center;
}
.win-message{
  padding-top:10px;
  padding-left: 15px;
  font-size: xx-large;
  color: red;
  text-align: center;
}